# Database
DATABASE_URL="postgresql://postgres:%5BRe88o830u%2A%5D@db.ckijjgagpkmfiscfymke.supabase.co:5432/postgres?sslmode=require"

# JWT
JWT_SECRET="b4861ccbe6f11c05227fda69d00faaec8459fbddc2e7f3f2c6e9e32b5e079847"
JWT_EXPIRATION="7d"

# Environment
NODE_ENV="development"
PORT=3000

# CORS
CORS_ORIGIN="http://localhost:3000,http://localhost:51361,https://YOUR-FRONTEND-DOMAIN"

# Logging
LOG_LEVEL="debug"

# Salt rounds for bcrypt
BCRYPT_ROUNDS=10
